/* .header {
  border: 2px solid black;
  justify-content: space-between;
  display: flex;
}
.logo {
  width: 90px;
  margin: 20px;
}
.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
}
.search {
  padding: 20px;
}
.res-card:hover {
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.res-card {
  margin: 5px;
  padding: 5px;
  width: 200px;
}
.res-img {
  width: 100%;
  max-height: 200px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.class-btn {
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(56, 53, 53);
  color: antiquewhite;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 20px;
}

.btn-login-class {
  margin: 10px 20px;
  background-color: #f0f0f0;
  color: black;
  padding: 5px 25px;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
}

.btn-search {
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(56, 53, 53);
  color: antiquewhite;
}

.user-class {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
} */
